.lab{
	color: white;
	font-size: 25px;
}
body
{
	background-image: url(RegBg.jpg);
	background-size: cover;
	background-position: all;
	background-repeat: no-repeat;
	/*height: 100%;
	padding: 0;
	margin: 0;*/
}
.colorMan{
	color: white;
}
/*.pos{
	
	width: auto;
	height: auto;

	text-align: center;
	float: left;
	margin: 0 auto;
	display: block;

	padding: 20px;
}*/